* {
	font-family: monospace,sans-serif,serif,fantasy;
	transition: all 150ms, width 0s;
}
body {
	background: floralwhite;
}
.teller {
	color: black;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
}
.teller::after {
	content: '';
	animation: changeText 5s 1 ease-in both;
}
@keyframes changeText {
	1% {
		content: 'h';
	}
	4% {
		content: 'he';
	}
	7% {
		content: 'hel';
	}
	10% {
		content: 'hell';
	}
	12% {
		content: 'hello';
	}
	14% {
		content: 'hello, ';
	}
	16% {
		content: 'hello, h';
	}
	19% {
		content: 'hello, he';
	}
	22% {
		content: 'hello, her';
	}
	25% {
		content: 'hello, here';
	}
	28% {
		content: 'hello, here y';
	}
	31% {
		content: 'hello, here yo';
	}
	34% {
		content: 'hello, here you';
	}
	37% {
		content: 'hello, here you c';
	}
	40% {
		content: 'hello, here you ca';
	}
	43% {
		content: 'hello, here you can';
	}
	46% {
		content: 'hello, here you can p';
	}
	49% {
		content: 'hello, here you can pi';
	}
	52% {
		content: 'hello, here you can pic';
	}
	55% {
		content: 'hello, here you can pick';
	}
	58% {
		content: 'hello, here you can pick c';
	}
	61% {
		content: 'hello, here you can pick co';
	}
	64% {
		content: 'hello, here you can pick col';
	}
	67% {
		content: 'hello, here you can pick colo';
	}
	70% {
		content: 'hello, here you can pick color';
	}
	73% {
		content: 'hello, here you can pick colors';
	}
	76% {
		content: 'hello, here you can pick colors .';
	}
	79% {
		content: 'hello, here you can pick colors :';
	}
	81% {
		content: 'hello, here you can pick colors .';
	}
	84% {
		content: 'hello, here you can pick colors :';
	}
	87% {
		content: 'hello, here you can pick colors .';
	}
	90% {
		content: 'hello, here you can pick colors :';
	}
	93% {
		content: 'hello, here you can pick colors .';
	}
	96% {
		content: 'hello, here you can pick colors :';
	}
	98% {
		content: 'hello, here you can pick colors .';
	}
	100% {
		content: 'hello, here you can pick colors :)';
	}
}
.container {
	width: fit-content;
	height: 250px;
	background: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: grid;
	grid-template-rows: 250px 20px;
	justify-items: center;
}


.result {
	background: rgb(234,230,242);
	width: 250px;
	height: 50px;
	position: fixed;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	left: 50%;
	transform: translateX(-50%);
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: 230px 25px;
}
.result-text {
	height: 100%;
	display: grid;
	align-items: center;
	justify-content: center;
	border-radius: 25px 5px 5px 25px;
}
.copy-img {
	width: 50px;
	aspect-ratio: 1:1;
	border-radius: 5px 5px 5px 5px;
	background: rgb(234,230,242);
	cursor: copy;
}



.container-1 {
	margin-top: 80px;
/*	margin-left: 120px;*/
	background: #c1c1c1;;
	width: 256px;
	height: 20px;
	border-radius: 5px;
}
.container-2 , .container-3{
	margin-top: 50px;
/*	margin-left: 120px;*/
	background: #c1c1c1;
	width: 256px;
	height: 20px;
	border-radius: 5px;
}
.red , .green , .blue {
	height: 20px;
	border-radius: 5px;
	position: relative;
/*	display: grid;
	justify-content: end;
	align-content: center;*/
}
.red {
	width: 234px;
	background: linear-gradient(90deg,black,red);
}
.green {
	width: 230px;
	background: linear-gradient(90deg,black,green);
}
.blue {
	width: 242px;
	background: linear-gradient(90deg,black,blue);
}
/*.Rcircle , .Gcircle ,.Bcircle {
	width: 10px;
	height: 10px;
	background: black;
	border-radius: 50px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(50%,-50%);
	border: white 2px solid;
	outline: 2px red solid;
}
.Gcircle {
	outline: 2px green solid;
}
.Bcircle {
	outline: 2px blue solid;
}*/
.checkboxes {
	display: flex;
	justify-content: center;
}
.r-percentage {
	color: red;
	pointer-events: none;
}
.g-percentage {
	color: green;
	pointer-events: none;
}
.b-percentage {
	color: royalblue;
	pointer-events: none;
}


footer {
	position: fixed;
	bottom: 0;
	font: 12px black;
}
footer p ,footer input {
	display: inline-block;
}
